@import 'bootstrap';
@import 'bootstrap-icons';


header {


  .navbar {
    img {
      width: 100px;
    }
  }
}

.movies-list {

  .card {
    img {
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}

.details {
  .jumbotron {

    height: 50px;

    img {
      width: fit-content;
      height: auto;
    }
  }
}